
*,
::after,
::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Doto", sans-serif;
    background: hsl(209, 31%, 47%);
    color: black;
    line-height: 1.5;
    font-size: 2rem;
}
 .section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170;

}

 .section{
    padding: 5rem 0
 }

 @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }

  .title {
    margin-top: 15vh;
    margin-bottom: 4rem;
  }  

  .title h2{
    color:black;
    font-family: "Doto", sans-serif;
    text-align: center;
  }
  .section-center{
    max-width: 620px;
  }
  .question{
    background: #fff;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;

  }
  .question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }
  .question-title p {
    margin-bottom: 0;
    letter-spacing: 0.25;
    color: hsl(209, 61%, 16%);
  }


  .question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .question-text p {
    margin-bottom: 0;
    color: hsl(108, 50%, 57%)

  }
  /* hide text */
  .question-text {
    display: none;
  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  }
  .question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: hsl(7, 66%, 46%);
    transition: all 0.3s linear;
  }
  .question-btn:hover {
    transform: rotate(90deg);
  }
